@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');

:root {
  --text: var(--ctp-frappe-text);
  --base: var(--ctp-frappe-base);
  --surface0: var(--ctp-frappe-surface0);
  --surface1: var(--ctp-frappe-surface1);
  --mauve: var(--ctp-frappe-mauve);
  --pink: var(--ctp-frappe-pink);
  --red: var(--ctp-frappe-red);
  --peach: var(--ctp-frappe-peach);
  --yellow: var(--ctp-frappe-yellow);
  --green: var(--ctp-frappe-green);
  --sapphire: var(--ctp-frappe-sapphire);
}