@import "./catppuccin.css";

:root {
  --text: var(--ctp-latte-text);
  --base: var(--ctp-latte-base);
  --surface0: var(--ctp-latte-surface0);
  --surface1: var(--ctp-latte-surface1);
  --mauve: var(--ctp-latte-mauve);
  --pink: var(--ctp-latte-pink);
  --red: var(--ctp-latte-red);
  --peach: var(--ctp-latte-peach);
  --yellow: var(--ctp-latte-yellow);
  --green: var(--ctp-latte-green);
  --sapphire: var(--ctp-latte-sapphire);
}