.Rosewater {
    color: #f4dbd6
}

.Flamingo {
    color: #f0c6c6
}

.Pink {
    color: #f5bde6
}

.Mauve {
    color: #c6a0f6
}

.Red {
    color: #ed8796
}

.Maroon {
    color: #ee99a0
}

.Peach {
    color: #f5a97f
}

.Yellow {
    color: #eed49f
}

.Green {
    color: #a6da95
}

.Teal {
    color: #8bd5ca
}

.Sky {
    color: #91d7e3
}

.Sapphire {
    color: #7dc4e4
}

.Blue {
    color: #8aadf4
}

.Lavender {
    color: #b7bdf8
}

.Text {
    color: #cad3f5
}

.Subtext_1 {
    color: #b8c0e0
}

.Subtext_0 {
    color: #a5adcb
}

.Overlay_2 {
    color: #939ab7
}

.Overlay_1 {
    color: #8087a2
}

.Overlay_0 {
    color: #6e738d
}

.Surface_2 {
    color: #5b6078
}

.Surface_1 {
    color: #494d64
}

.Surface_0 {
    color: #363a4f
}

.Base {
    color: #24273a
}

.Mantle {
    color: #1e2030
}

.Crust {
    color: #181926
}