@property --Rosewater {
    syntax: "<color>";
    inherits: false;
    initial-value: #f4dbd6;
}

@property --Flamingo {
    syntax: "<color>";
    inherits: false;
    initial-value: #f0c6c6;
}
	

@property --Pink {
    syntax: "<color>";
    inherits: false;
    initial-value: #f5bde6;
}
	

@property --Mauve {
    syntax: "<color>";
    inherits: false;
    initial-value: #c6a0f6;
}
	

@property --Red {
    syntax: "<color>";
    inherits: false;
    initial-value: #ed8796;
}
	

@property --Maroon {
    syntax: "<color>";
    inherits: false;
    initial-value: #ee99a0;
}
	

@property --Peach {
    syntax: "<color>";
    inherits: false;
    initial-value: #f5a97f;
}
	

@property --Yellow {
    syntax: "<color>";
    inherits: false;
    initial-value: #eed49f;
}
	

@property --Green {
    syntax: "<color>";
    inherits: false;
    initial-value: #a6da95;
}
	

@property --Teal {
    syntax: "<color>";
    inherits: false;
    initial-value: #8bd5ca;
}
	

@property --Sky {
    syntax: "<color>";
    inherits: false;
    initial-value: #91d7e3;
}
	

@property --Sapphire {
    syntax: "<color>";
    inherits: false;
    initial-value: #7dc4e4;
}
	

@property --Blue {
    syntax: "<color>";
    inherits: false;
    initial-value: #8aadf4;
}
	

@property --Lavender {
    syntax: "<color>";
    inherits: false;
    initial-value: #b7bdf8;
}
	

@property --Text {
    syntax: "<color>";
    inherits: false;
    initial-value: #cad3f5;
}
	

@property --Subtext-1 {
    syntax: "<color>";
    inherits: false;
    initial-value: #b8c0e0;
}
	

@property --Subtext-0 {
    syntax: "<color>";
    inherits: false;
    initial-value: #a5adcb;
}
	

@property --Overlay-2 {
    syntax: "<color>";
    inherits: false;
    initial-value: #939ab7;
}
	

@property --Overlay-1 {
    syntax: "<color>";
    inherits: false;
    initial-value: #8087a2;
}
	

@property --Overlay-0 {
    syntax: "<color>";
    inherits: false;
    initial-value: #6e738d;
}
	

@property --Surface-2 {
    syntax: "<color>";
    inherits: false;
    initial-value: #5b6078;
}
	

@property --Surface-1 {
    syntax: "<color>";
    inherits: false;
    initial-value: #494d64;
}
	

@property --Surface-0 {
    syntax: "<color>";
    inherits: false;
    initial-value: #363a4f;
}
	

@property --Base {
    syntax: "<color>";
    inherits: false;
    initial-value: #24273a;
}
	

@property --Mantle {
    syntax: "<color>";
    inherits: false;
    initial-value: #1e2030;
}
	

@property --Crust {
    syntax: "<color>";
    inherits: false;
    initial-value: #181926;
}